<div class="bg-image"></div>

<div class="container-fluid bg-text rounded">
<div class="row">
<div class="col">
  <h1>Buying your favourite stuff online just got more comfortable</h1>
  <br>
  <h4>Now you can buy any thing you want</h4>
  <p>just by one click so what are you waiting for</p>
  <br>
  <button type="button" class="btn btn-dark mb-3" onClick="document.getElementById('middle').scrollIntoView();">Buy Now</button>

</div>
<div class="col">


</div>
</div>
        </div>
<center>
<br><br>
        <h4>Everything you need avalible under one roof</h4>
        <h4>A ministore just a click away</h4>
        </center>
        <br><br>
  <div class="container gfg">  
  <div class="row">
  <div class="col-4">
  <center>
<br><br>
        <h4>Easy and Accesible</h4>
        <p>A ministore just a click away</p>
        </center>
  </div>
  <div class="col-4">
  <center>
<br><br>
        <h4>Most comfotable Experience</h4>
        <p>A ministore just a click away</p>
        </center>
  </div>
  <div class="col-4">
  <center>
<br><br>
        <h4>Fast and reliable</h4>
        <p>A ministore just a click away</p>
        </center>
  </div>
  </div> 
   <br><br></div>    

<br><br>

<div id="middle">
<!-- About page -->
<div class="container pl-75">
<h1>About Us<h1>
</div>
<div class="rectangle"></div>

<div class="container pl-75">
<br>
<p>What an 'About Us' page should be is a goal-oriented sales page, one that focuses on highlighting the biggest selling points of your story and brand at the top of the page, making a strong first impression on curious customers</p>
</div>
<br><br>
<center>
<div class="container pl-75">
<div class="card mb-3 shadow bg-white rounded" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-6">
    <div class="bg-image2"></div>
    </div>
    <div class="col-6">
      <div class="card-body">
        <h5 class="card-title">Our Vision</h5>
        <p class="card-text">Our vision is to be earth's most customer centric company; to build a place where people can come to find and discover anything they might want to buy online.</p>
        <button type="button" class="btn btn-dark mb-3">Learn more</button>
      </div>
    </div>
  </div>
</div>
</div>
</center>

<br><br>

<center>
<div class="container pl-75">
<div class="card mb-3 shadow bg-white rounded" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-6">
    <div class="card-body">
        <h5 class="card-title">Our Story</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-dark mb-3">Learn more</button>
      </div>
    </div>
    <div class="col-6">
    <div class="bg-image3"></div>
    </div>
  </div>
</div>
</div>
</center>

<br><br>
</div>
<!-- Contact page -->
<div id="last">
<div class="container pl-75">
<h1>Contact Us</h1>
</div>
<div class="rectangle"></div>
<br><br>
<center>
<div class="container pl-65">
<div class="card mb-3 shadow bg-white rounded" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-5 gfg">
    <br>
    <h2>Contact Information</h2>
    <p>Any question or query? just write us a message!</p>
    <br>
    <ul id="contact_ul">
   <li id="li_phone"> <ion-icon name="call"><i class="fa fa-phone"></i></ion-icon>

   <a>8077750432</a></li>
   <br>
    <li id="li_email"><ion-icon name="mail"><i class="fa fa-envelope"></i
    ></ion-icon><a>skydevelopers.net@gmail.com</a></li>
    <br>
    <li id="li_email"><ion-icon name="mail"><i class="fa fa-map-marker"></i
    ></ion-icon><a>johar town lahore</a></li>
 </ul>
 <div class="bg-image4"></div>
    </div>
    <div class="col-7">
      <div class="card-body">
       
      <%= render(:partial => 'form')%>

      </div>
    </div>
  </div>
</div>
</div>
</center>
<br><br>

     